@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand-color-primary: theme("colors.brand.primary.DEFAULT");
  }
}

/* Global styles, easy to override */
@layer base {
  html {
    height: 100%;
  }
  body {
    height: 100%;
  }

  #__next {
    height: 100%;
  }
}

/* Component styles, hard to override */
@layer components {
  .btn {
    @apply inline-flex items-center justify-center gap-3 px-4 py-2 border-2 border-transparent rounded;
  }
}
