@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #6c48ff;
    --color-primary-dark: #593ada;
    --color-bg: #1a1c20;
    --color-bg-light: #272a30;
    --color-bg-dark: #23252b;
    --color-bg-purple: #2a254d;
    --color-heading: #fff;
    --color-text: #f1f1f1;
    --color-gray-5: #f7fafc;
    --color-gray-10: #4f575b;
    --color-icon: #939597;
    --color-icon-hover: #ffffff;
    --color-success: #48ffc8;
    --color-error: #dd364d;
    --color-warning: #35b0fc;
  }
}

@layer base {
  html {
    height: 100%;
  }
  body {
    height: 100%;
  }

  #__next {
    height: 100%;
  }

  h1,
  h2,
  h1 {
    @apply text-4xl font-extrabold lg:text-5xl;
  }

  h2 {
    @apply text-3xl font-semibold;
  }

  h3 {
    @apply text-2xl font-semibold;
  }

  p {
  }
}

@layer components {
  .btn-blue {
    @apply px-4 py-2 font-semibold text-white bg-blue-500 rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
}
